<!DOCTYPE html>
<html>
{% load i18n %}
    <head>
        <!--Import materialize.css-->
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'material.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Image Stuff | {% block title %}{% endblock %}</title>
        {% include "topbar.html" %}
    </head>

    <body>
      <br>
      <br>
      {% block main_content %} {% endblock main_content %}


      <script src="{% static 'material.min.js' %}"></script>

    </body>
    <footer>
      {% include "footer.html" %}
    </footer>
</html>

