<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span href="/detector/image/" class="mdl-layout-title">Image Comparator</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
	<a class="mdl-navigation__link" href="/detector/image/">Comparator</a>
        <a class="mdl-navigation__link" href="#">Classifier</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Image Comparator</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/detector/image/">Comparator</a>
      <a class="mdl-navigation__link" href="#">Classifier</a>
    </nav>
  </div>
</div>
