{%  extends "base.html" %}
{% block main_content %}
<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
<main class="mdl-layout__content">

    <div class="container">
	<div class="mdl-grid center-items">
	    <div class="mdl-card mdl-shadow--6dp">
		<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
		    <h2 class="mdl-card__title-text">Image url Sender</h2>
		</div>
		<div class="mdl-card__supporting-text">
		    <form action="{% url 'classify' %}" method="POST">
			<div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" type="text" id="url" name="url"/>
			    <label class="mdl-textfield__label" for="url">url</label>
			</div>
			<div class="mdl-card__actions mdl-card--border">
			    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Send</button>
			</div>
		    </form>
		</div>
	    </div>

	</div>
    </div>


    {% load staticfiles %}

<div class="mdl-grid">
    {% for name_and_url in names_and_urls %}

    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--2dp">
	<figure class="mdl-card__media">
	    <img src="{% static 'images' %}/{{name_and_url.0}}" alt="{{name_and_url.0}}" />
	</figure>
	<div class="mdl-card__title">
	    <h1 class="mdl-card__title-text">{{name_and_url.0}}</h1>
	</div>
	<div class="mdl-card__supporting-text">
	    <p>{{name_and_url.1}}</p>
	</div>
    </div>
    {% endfor %}
</div>


    {% if error_message %}
    <p><strong>
	{{ error_message }}
    </strong></p>
    {% endif %}
</main>

</div>
{% endblock main_content %}
